/* 
 * Componentes Reutilizables
 * =========================
 * Aquí defines estilos de componentes que puedes reutilizar
 * en diferentes partes de tu landing page
 * 
 * Ejemplos de componentes:
 * - Botones (.btn, .btn-primary, .btn-secondary)
 * - Cards (.card)
 * - Formularios (.form, .input, .textarea)
 * - Badges, tags
 * - Iconos
 * - Etc.
 * 
 * Usar una metodología como BEM es recomendado para nombrar clases
 */

.img-back,
.video-back {
    width: 100vw;
    height: auto;
    margin: 0px;
    display: block;
}

.btn-comprar {
    background-color: rgb(0, 163, 0);
    color: white !important;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-comprar svg {
    color: white;
}

.btn-comprar-icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
}

.btn-comprar-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 0.1rem;
    color: white;
}

.btn-comprar-text-title,
.btn-comprar-text-title strong {
    color: rgba(255, 255, 255, 0.95);
}

.btn-comprar-text-sub {
    color: rgba(255, 255, 255, 0.85);
}

.btn-comprar,
.btn-submit,
.animated-box {
    will-change: transform;
    animation: vaiven 2.86s infinite cubic-bezier(.35, .06, .2, .98);
}

@keyframes vaiven {
    0% {
        transform: scaleX(1);
    }

    3%,
    6% {
        transform: scale3d(.97, .97, .97) rotate(-1deg);
    }

    9%,
    15%,
    21%,
    27% {
        transform: scale3d(1.03, 1.03, 1.03) rotate(1deg);
    }

    12%,
    18%,
    24% {
        transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
    }

    30% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}

video {
    pointer-events: none;
}