/* 
 * Componentes Reutilizables
 * =========================
 * Aquí defines estilos de componentes que puedes reutilizar
 * en diferentes partes de tu landing page
 * 
 * Ejemplos de componentes:
 * - Botones (.btn, .btn-primary, .btn-secondary)
 * - Cards (.card)
 * - Formularios (.form, .input, .textarea)
 * - Badges, tags
 * - Iconos
 * - Etc.
 * 
 * Usar una metodología como BEM es recomendado para nombrar clases
 */

.img-back,
.video-back {
    width: 100vw;
    height: auto;
    margin: 0px;
    display: block;
}

.btn-comprar {
    background-color: rgb(0, 163, 0);
    color: white;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-comprar-icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
}

.btn-comprar-icon strong {
    font-weight: 500;
}

.btn-comprar-text {
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 0.1rem;
}

.btn-comprar-text-sub {
    color: rgba(255, 255, 255, 0.9);
}