/* 
 * Componentes Reutilizables
 * =========================
 * Aquí defines estilos de componentes que puedes reutilizar
 * en diferentes partes de tu landing page
 * 
 * Ejemplos de componentes:
 * - Botones (.btn, .btn-primary, .btn-secondary)
 * - Cards (.card)
 * - Formularios (.form, .input, .textarea)
 * - Badges, tags
 * - Iconos
 * - Etc.
 * 
 * Usar una metodología como BEM es recomendado para nombrar clases
 */

.img-back,
.video-back {
    width: 100vw;
    height: auto;
    margin: 0px;
    display: block;
}

.btn-comprar {
    background-color: rgb(0, 163, 0);
    color: white !important;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    bottom: 0;
}

.btn-comprar svg {
    color: white;
}

.btn-comprar-icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
}

.btn-comprar-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 0.1rem;
    color: white;
}

.btn-comprar-text-title,
.btn-comprar-text-title strong {
    color: rgba(255, 255, 255, 0.95);
}

.btn-comprar-text-sub {
    color: rgba(255, 255, 255, 0.85);
}

.btn-comprar,
.btn-submit,
.animated-box {
    will-change: transform;
    animation: vaiven 2.86s infinite cubic-bezier(.35, .06, .2, .98);
}

@keyframes vaiven {
    0% {
        transform: scaleX(1);
    }

    3%,
    6% {
        transform: scale3d(.97, .97, .97) rotate(-1deg);
    }

    9%,
    15%,
    21%,
    27% {
        transform: scale3d(1.03, 1.03, 1.03) rotate(1deg);
    }

    12%,
    18%,
    24% {
        transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
    }

    30% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}

video {
    pointer-events: none;
}

.hook-buy {
    font-family: 'Public Sans', sans-serif;
    width: 85%;
    max-width: 450px;

    position: fixed;
    top: 4rem;
    /*left: 52.5%;*/
    transform: translateX(200%);

    right: 1rem;

    transition: transform 1s ease;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    padding: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    text-align: justify;
}

.hook-buy.active {
    transform: translateX(0%);
}

.btn-close-notification {
    min-width: 1rem;
}

.btn-close-notification svg {
    width: 2px;
}

.bold-noti {
    color: red;
}

.hook-buy div p {
    font-size: 14px;
    font-weight: bold;
}

.hook-buy img {
    border-radius: 0%;
    width: 3rem;
    height: 3rem;
}