/* 
 * Componentes Reutilizables
 * =========================
 * Aquí defines estilos de componentes que puedes reutilizar
 * en diferentes partes de tu landing page
 * 
 * Ejemplos de componentes:
 * - Botones (.btn, .btn-primary, .btn-secondary)
 * - Cards (.card)
 * - Formularios (.form, .input, .textarea)
 * - Badges, tags
 * - Iconos
 * - Etc.
 * 
 * Usar una metodología como BEM es recomendado para nombrar clases
 */

.img-back,
.video-back {
    width: 100vw;
    height: auto;
    margin: 0px;
    display: block;
}

.btn-comprar {
    background-color: rgb(0, 163, 0);
    color: white !important;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-comprar svg {
    color: white;
}

.btn-comprar-icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
}

.btn-comprar-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 0.1rem;
    color: white;
}

.btn-comprar-text-title,
.btn-comprar-text-title strong {
    color: rgba(255, 255, 255, 0.95);
}

.btn-comprar-text-sub {
    color: rgba(255, 255, 255, 0.85);
}

.btn-comprar,
.btn-submit {
    will-change: transform;
    animation: vaiven 3s infinite ease-in-out;
}

@keyframes vaiven {

    /* --- FASE DE MOVIMIENTO (Ocupa el primer 15% del tiempo) --- */
    0% {
        transform: rotate(0deg);
    }

    3% {
        transform: rotate(-3deg);
    }

    /* Izquierda */
    6% {
        transform: rotate(3deg);
    }

    /* Derecha */
    9% {
        transform: rotate(-3deg);
    }

    /* Izquierda */
    12% {
        transform: rotate(3deg);
    }

    /* Derecha */
    15% {
        transform: rotate(-3deg);
    }

    18% {
        transform: rotate(3deg);
    }

    /* Izquierda */
    21% {
        transform: rotate(-3deg);
    }

    /* Derecha */
    24% {
        transform: rotate(3deg);
    }

    /* Izquierda */
    27% {
        transform: rotate(-3deg);
    }

    /* Derecha */
    30% {
        transform: rotate(0deg);
    }

    /* Vuelve al centro */

    /* --- FASE DE ESPERA (Del 15% al 100% no hace NADA) --- */
    100% {
        transform: rotate(0deg);
    }
}