@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

section {
    border: none;
    width: 100%;
    height: 100%;
    pad: 1rem;
    font-family: 'Public Sans', sans-serif;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
}

.title-forms {
    /* Fuente: Sans-serif geométrica y limpia (Arial/Helvetica son las más cercanas por defecto) */
    font-family: 'Public Sans', sans-serif;

    font-size: 1.2rem;

    /* Peso: Es claramente negrita */
    font-weight: 700;

    /* Color: Un naranja vibrante (Hex aproximado) */
    color: rgb(255, 121, 31);

    /* Transformación: Todo en mayúsculas */
    text-transform: uppercase;

    /* Espaciado: Un ligero aire entre letras mejora la lectura en mayúsculas */
    letter-spacing: 0.5px;
}

#btn-close-forms {
    /* 1. Quitar los estilos de botón por defecto */
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    /* Para que aparezca la manito al pasar el mouse */

    color: #777777;

}

.hr-1 {
    border: 0;
    /* 1. Quita el borde 3D por defecto */
    height: 1px;
    /* 2. Define el grosor de la línea */
    background-color: #ddd;
    /* 3. El color de la línea (gris claro) */
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.hr-2 {
    border: 0;
    /* 1. Quita el borde 3D por defecto */
    height: 1px;
    /* 2. Define el grosor de la línea */
    background-color: #ddd;
    /* 3. El color de la línea (gris claro) */
    margin: 1.5rem;
    /* 4. Espacio arriba y abajo para que no pegue con el texto */
}

.item-options {
    display: block;
    margin: 0rem 1rem 0rem 1rem;
}

.btn-item {
    border: 3px solid rgb(232, 232, 235);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
}

.btn-item:has(input[type="radio"]:checked) {
    border: 3px solid rgb(251, 146, 60);
}

.btn-item label {
    display: flex;
    /*Realizar un responsive*/
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    height: auto;
}

.item-options-info {
    flex: 1;
    margin: none;
}

.item-options-info p {
    margin: 0;
}

.item-options-info .price {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2em;
    margin: 0.8rem 0rem 0.7rem 0rem;
}

.item-options-price-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-options-info .item-options-check {
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    overflow: visible;
    justify-content: space-between;
    text-align: start;
}

.ahorro,
.animated-box {
    display: flex;
    align-items: center;
    background-color: rgb(251, 146, 60);
    color: white;
    padding: 6px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    margin: 4px;
    white-space: nowrap;
}

.btn-item input[type="radio"]:checked {
    background-color: transparent;
    border: 6px solid rgb(251, 146, 60);
}

.btn-item input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid rgb(251, 146, 60);
    background-color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
}

.img-product {
    min-width: 64px;
    height: 3rem;
    margin: auto 1rem;
}

/*Botón 2*/

.item-options-price-2 {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.6rem;
}



.price-discard {
    color: rgb(119, 125, 138);
    text-decoration: line-through !important;
}

.ahorro-ofert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/*Caja Negra*/
.ahorro-ofert .animated-box {
    background-color: black;

}

/*Sección Calculo de precios*/

.cost {
    padding: 16px 24px;
    margin: 1rem auto;
    margin-bottom: 0px;
    border-radius: 8px;
    background-color: color-mix(in xyz-d65, rgb(250, 250, 250) 85%, black);
    border: 2px solid rgb(253, 253, 253);
    color: rgba(7, 18, 42, 0.62);
    width: 75%;
}

.cost p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.pre-cost {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.precios {
    font-weight: 400;
    color: rgb(27, 33, 40);
    font-size: 1.1em;
}

.total-cost .hr-2 {
    height: 1.5px;
    margin: 0.7rem;
}

.total-cost p {
    color: rgba(7, 18, 42, 0.62);
    font-weight: 600;
}

.total-cost #total {
    color: rgb(27, 33, 40);
    font-weight: 600;
    font-size: 1.2em;
}

/*Sección Elección de Envío*/

.method-envio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 1rem 0rem 1rem;
    gap: 0.5rem;
}

/*Encabezado*/

.method-envio h3 {
    font-size: 16px;
    opacity: 0.75;
    font-weight: 500;
    margin-bottom: 0px;
}

/*Botones de envio*/

.btn-envio {
    width: 100%;
    border: 1px solid rgb(232, 232, 235);
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 0.52rem;
    color: black;
}

.btn-envio:has(input[type="radio"]:checked) {
    border-color: rgb(202, 68, 30);
}

.btn-envio label {
    font-family: 'Public Sans', sans-serif;
    width: 100%;
    display: flex;
    cursor: pointer;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;

}

.envio-info {
    flex: 1;
    text-align: left;
}

.envio-gratis .info-envio {
    flex: 1;
}

.info-envio-title,
.info-envio-subtitle,
.desc-envio {
    margin: 0px;
    text-align: left;
}

.info-envio-title {
    font-weight: 600;
    font-size: 14px;
    flex: 1;
}

.info-envio-subtitle {
    margin: auto 0;
    padding: 0.1rem;
    font-size: 12px;
    opacity: 0.75;
}

.desc-envio {
    opacity: 0.75;
    font-size: 14px;
}

/*Sección Datos Personales*/

.data-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.data-client h3 {
    color: red;
    margin: 0.5rem auto;
}

/*Cabecera de los campos*/
.data-client label {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 0.8125em;
    color: rgb(0, 0, 0);
}

/*Campo obligatorio: asterisco rojo*/
.data-client label span {
    color: red;
    margin-left: 0.2rem;
}

.error-message {
    display: none;
    color: red;
    margin: 0;
    font-size: 0.8rem;
}

/*Input de los campos*/
.data-client-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.input-data {
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
}

.input-data:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    border: 1px solid rgb(37, 99, 235);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/*Terminos y condiciones*/

.terms {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
    font-size: 0.8125rem;
}

.terms input[type="checkbox"],
.btn-producto-extra input[type="checkbox"] {
    border: 2px solid rgba(189, 169, 169, 0.966);
    transform: scale(1.2);
    accent-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 25%;
    cursor: pointer;
}

.terms input[type="checkbox"]:checked,
.btn-producto-extra input[type="checkbox"]:checked {
    appearance: auto;
    color: black;
    border-radius: 25%;
    accent-color: black;

}

/*Productos extras*/

.extras {
    margin: 0.5rem 1rem;
    padding: 0rem;
}

.btn-producto-extra {
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    margin: 0rem;
    align-items: center;
    border: none;
    background-color: rgb(246, 255, 255);
    border-radius: 0.5rem;
    color: black;


    background-image:
        linear-gradient(90deg, red 50%, transparent 50%),
        /* Arriba */
        linear-gradient(90deg, red 50%, transparent 50%),
        /* Abajo */
        linear-gradient(0deg, red 50%, transparent 50%),
        /* Izquierda */
        linear-gradient(0deg, red 50%, transparent 50%);
    /* Derecha */

    /* 2. Tamaño de los guiones (ancho x alto) */
    background-size: 16px 2px, 16px 2px, 2px 16px, 2px 16px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

    /* 3. Posición inicial de cada línea */
    background-position: 0 0, 0 100%, 0 0, 100% 0;

    /* 4. La animación */
    animation: marcha 0.4s infinite linear;
}

@keyframes marcha {
    100% {
        /* Movemos los fondos la misma distancia que el tamaño del guion (16px) */
        background-position: 16px 0, -16px 100%, 0 -16px, 100% 16px;
    }

    /*Fin animación de IA*/
}


.btn-producto-extra label {
    display: flex;
    justify-content: space-between;
}

.producto-extra-1-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 1rem 0.5rem 1rem 0.5rem;
    gap: 0.5rem;
}

.producto-extra-1-info p {
    margin: 0;
    line-height: 1.5rem;
}


.producto-extra-bold {
    font-weight: bolder;
}

.product-extra-sub {
    color: rgb(89, 89, 89);
}

.btn-producto-extra label .img-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*Botón de comprar*/

.submit {
    margin: 1rem;
}

.btn-submit {
    appearance: none;
    width: 100%;
    background-color: rgb(24, 181, 24);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 7px 0px;
    cursor: pointer;
}

.btn-submit-content {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.btn-submit-content svg {
    width: 20%;
    height: 32px;
}

.btn-submit-content span p {
    margin: auto 0rem;
}

.btn-submit-content span {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submit-title {
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.9;
}

.submit-info {
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
}