/* 
 * Responsive Design (Media Queries)
 * =================================
 * Aquí van todos los media queries para hacer tu landing page responsive
 * 
 * Breakpoints comunes:
 * @media (max-width: 1200px) { } // Desktop grande
 * @media (max-width: 992px)  { } // Desktop
 * @media (max-width: 768px)  { } // Tablet
 * @media (max-width: 576px)  { } // Mobile
 * 
 * Incluye ajustes de:
 * - Layouts (grid -> stack)
 * - Tamaños de fuente
 * - Espaciado
 * - Ocultar/mostrar elementos
 * - Navegación móvil (hamburger menu)
 */

/* Tablet y Desktop - Limita el ancho del modal */
@media (min-width: 768px) {
    #dialog-compra section {
        max-width: 475px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {


    .hero {
        height: 2.5rem;
    }

    .hero__content {
        font-size: 1rem;
        font-weight: 800;

        gap: 1rem;

        padding: 0 1rem;

        height: 3rem;

    }

    .punto {
        width: 1rem;
        height: 1rem;

    }
}